{
    "AWS_ACCESS_KEY": "YOUR_AWS_ACCESS_ID",
    "AWS_SECRET_KEY": "YOUR_AWS_ACCESS_SECURITY_KEY",
    "AWS_SOURCE_BUCKET": "SOURCE_BUCKET_NAME",
    "AWS_DESTINATION_BUCKET": "DESTINATION_BUCKET_NAME",
    "AWS_SOURCE_FOLDER_PATH": "path/to/source/folder",
    "AWS_DESTINATION_FOLDER_PATH": "path/to/destination/folder",
    "DEFAULT_UPLOAD_FILE_NAME_TEMPLATE": "result_file_"
}